# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
.DS_Store

# SwiftPM
.build/
.swiftpm/xcode/packagedata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SwiftPM lockfile
Package.resolved

# Fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
